<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^api/v1/foo/* /routes/foo.php [QSA,L]
  RewriteRule ^api/v1/bar/* /routes/bar.php [QSA,L]

</IfModule>

# [QSA,L]   Append Query String, Not execute any other rule below
