<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^foo/* /api/routes/foo.php [QSA,L]
RewriteRule ^bar/* /api/routes/bar.php [QSA,L]

</IfModule>

# [QSA,L]   Append Query String, Not execute any other rule below
